* body {
  font-family: 'Alegreya SC';
  text-align: center;
  background-color: #faf9f9;
}

h1 {
  font-weight: bold;
  color: rgb(199, 134, 106);
  padding-top: 7%;
}

h2 {
  font-size: 1rem;
}

h6 {
font-weight: bolder;
  color: #af460f;}

/* Contact me  */
#contact-me {
  padding: 5% 15% 3%;
}

/* *logo colour */
.navbar-light .navbar-brand {
  text-align: left;
  font-size: 3rem;
  font-style: italic;
  color: #c7866a;
}

/* Right hand buttons at the top*/
.nav-item {
  text-align: right;
  padding: 0 18px;
  font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #c7866a;
}

/* First Carousel section */
.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
  display: flex;
}

/* control image height */
.card-img-top-250 {
  max-height: 225px;
  overflow: hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
  {
  transition: all 1s ease;
}

.btn {
  font-size: 1.25rem;
}

.btn btn-light:hover {
  background: #c7866a;
}

.Copyright {
  font-size: 1.30rem;
  color: #c7866a;
}

.footer-logo {
  margin: 20px 20px;
}

/* Links section */
/* unvisited link */
a:link {
  color: #c7866a;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c7866a;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #e9967a;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #c7866a;
  text-decoration: none;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #c7866a;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
  color: #c7866a;
}
