* body {
font-family: 'Alegreya SC';
text-align: center;
background-color: #faf9f9;}

/* *logo colour */
.navbar-light .navbar-brand {
  text-align: left;
  font-size: 3rem;
  font-style: italic;
  color: #c7866a;
}

/* Right hand buttons */
.nav-item {
  text-align: right;
  padding: 0 18px;
  font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #c7866a;
}

/* Carousel section */
.container-fluid {
  text-align: center;
  padding: 0;
}

.carousel-image {
  width: 100%;
  height:40%;
  }

.carousel-text {

  font-size: 1.875rem;
  font-style: italic;
  color:#fff1e9;
}

/* About me  */
#About-me {
  background-color:#c7866a;

}
.personal-description {
  padding:5% 15% 7%;
  color:#fff1e9;
}

/* Video Section */
#video {
  padding: 5% 15%;

  background:#f1e9e3;
}
/* #dfbe9a */

/* Smaller Images  */
#smaller-images {
  background-color: #c7866a;
padding:5% 7% 5% 7%;

}

.align-self-start {padding: }

.centered {
  color:#fff1e9;
  font-size: 1.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floral-design {padding-left: 45%;
 }


/* Quick-zoom Container */
.img-hover-zoom {
  height: auto; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .7s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

/* Contact me  */
#contact-me {
  padding: 5% 15% 3%;
}

.btn {
  font-size:  1.25rem;
  }

.btn btn-light:hover {
  background: #c7866a;
}

.Copyright {
  font-size: 1.30rem;
  color:#c7866a;
}
.footer-logo {
  margin: 20px 20px;
}

/* Links section */

/* unvisited link */
a:link {
  color: #c7866a;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c7866a;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #e9967a;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #c7866a;
  text-decoration: none;
  }

.navbar-light .navbar-nav .active>.nav-link{ color: #c7866a;}

.navbar-light .navbar-nav .active>.nav-link:hover {color:#c7866a;}

.attributions {font-size:0.5rem; }

@media screen and (max-width: 575px) {
  .mmMY {margin: 1rem 0;}
  .floral-design {display: none;}
}

@media screen and (max-width: 603px) {
    .floral-design {display: none;}
}

@media screen and (max-width: 754px) {
    .floral-design {display: none;}
}

/* Portfolio Main Page  */


/* #second-carousel_1 {padding: 20% 5%;
}
.img-responsive {width: 400px;}

h2 {font-weight: bold;
color: #c7866a;}

.title_portfolio {padding:5% 15% 3%; } */
/*
#second-carousel_2 {padding-left: 5%;
padding-right: 5%;}
#second-carousel_3 {padding-left: 5%;
padding-right: 5%;} */

/* Stories */
/* body{padding-top:20px;}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
} */


/* Contact me page  */

.title_contactme {color: #c7866a;
  font-style: italic;
padding: 5% 15% 0%}

#Contact-me {
  color:#c7866a;
  font-weight: lighter;
  font-size: 25px;
  padding-left: 10%;
  line-height:0.8;
}

input,textarea {background-color: #faf9f9;
}

input[type=submit] {
  padding:15px;
   background:#c7866a;
   color:#faf9f9;
   border:0 none;
   cursor:pointer;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.floral-design2 {
  padding-left:0;}
