body {
  font-family: 'Alegreya SC';
  text-align: center;
  background-color: #faf9f9;
}

h1 {
  font-weight: bold;
  color: rgb(199, 134, 106);
  padding-top: 5%;
}

h2 {
  font-size: 1rem;
}

h4 {
  text-align: center;
  padding: 3% 0% 3% 0;
}

h6 {
  font-weight: bolder;
  color: #af460f;
}

hr {
  border-top: 3px double #c7866a;
  width: 40%;
}

/* *logo colour */
.navbar-light .navbar-brand {
  text-align: left;
  font-size: 3rem;
  font-style: italic;
  color: #c7866a;
}

/* For all pages */
/* Right hand buttons */
.nav-item {
  text-align: right;
  padding: 0 1rem;
  font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #c7866a;
}

nav#mainNavbar{
  background-color: #faf9f9;
}

/* Carousel section */
.container-fluid {
  text-align: center;
  padding: 0;
}

.carousel-image {
  width: 100%;
  height: 40%;
}

.carousel-text {
  font-size: 1.875rem;
  font-style: italic;
  color: #fff1e9;
}

/* Index page -
About me section */
#About-me {
  background-color: #c7866a;
  color: #fff1e9;
  font-size: 1.20rem;
  padding: 3% 8%;
  display: block;
}

/* Video Section */
#video {
  padding: 5%;
  background: #f1e9e3;

}

/* Smaller Images  */
#smaller-images {
  background-color: #c7866a;
  padding: 5% 7% 5% 7%;
}

.centered {
  color: #fff1e9;
  font-size: 1.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floral-design {
  padding-left: 45%;
}

/* Quick-zoom Container */
.img-hover-zoom {
  height: auto;
  /* [1.1] Set it as per your need */
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .7s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

/* Contact me section  */
#contact_me_footer {
  padding: 5% 15% 3%;
}

.btn {
  font-size: 1.25rem;
}

.btn btn-light:hover {
  background: #c7866a;
}

.Copyright {
  font-size: 1.30rem;
  color: #c7866a;
}

.footer-logo {
  margin: 1.111rem;
}

/* Links section */
/* unvisited link */
a:link {
  color: #c7866a;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c7866a;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #e9967a;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #c7866a;
  text-decoration: none;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #c7866a;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
  color: #c7866a;
}

/* .attributions {
  font-size: 0.5rem;
} */
@media screen and (max-width: 575px) {
  .mmMY {
    margin: 1rem 0;
  }
#About-me {
    font-size: 1rem;
  }
  }


/* Portfolio page */
/* First Carousel section */
.carousel-item-prev,
.carousel-item-next,
/* .carousel-item.active lo quite porque hacia q no se vieran las otras images despues de esta en mobile version */
  {
  display: flex;
}

/* control image height */
.card-img-top-250 {
  max-height: 225px;
  overflow: hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
  {
  transition: all 1s ease;
}

/* Contact me webpage  */
/* check changes made in Media  */
#Contact-me {
  color: #c7866a;
  font-size: 1.4375rem;
  /* background: linear-gradient(to bottom right, #faf9f9 0%, #c7866a 100%); */
}

/* Styling of the form  */
.form-control, select option {
display: block;
/* font-size: 1.2rem; */
color: #c7866a;
/* font-family: 'Alegreya SC'; */

}


.submitContactpage {
  padding: 0.32rem 0.6rem;
  margin: 0.96rem 0;
  background: #c7866a;
  color: #faf9f9;
  cursor: pointer;
  border-radius: 0.1667rem;
}

.containerContactme {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 37.5rem;
  padding: 15px;
  background-color: #faf9f9;
  text-align: left;
  font-size: 1rem;
  border: 1px solid #c7866a;
  color: #c7866a;
  font-family: 'Alegreya SC';
}
